.st-justify-s-end {
    justify-self: end;
}

.st-add-contact-btn {
    border: none;
    background-color: transparent;
    color: inherit;
    transition: 0.3s;
    transform-origin: center;
}

.st-add-contact-btn:active {
    scale: 0.95;
}

.st-col-fade {
    color: var(--st-lt-white) !important;
}

.st-col-ltred {
    color: #b35353 !important;
}

.st-col-lblue {
    color: #66a4ff !important;
}

.st-col-lgreen {
    color: var(--st-t-green) !important;
}

.st-text-small {
    font-size: 0.9em;
}

.st-list-inside {
    list-style: inside;
}

.st-falign-prop {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.c-pointer {
    cursor: pointer;
}

.st-text-overflow {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.5em;
}

/***** button css *****/
.st-btn {
    border: none;
    background-color: #434343d3;
    border-radius: 5px;
    transition: 0.3s;
    padding: 0.5em 1em;
    display: flex;
    gap: 0.5em;
    color: inherit;
}

.st-btn:hover {
    background-color: #7979795e;
}

.st-btn:active {
    background-color: #333333;
}

/***** End button css *****/


/* ***Scroll bar*** */
.st-scrollbar-thin::-webkit-scrollbar {
    width: 5px;
}

.st-scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 20px;
}

.st-scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}

.st-scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
}


/***** Input css *****/
.st-text-input {
    width: 100%;
    padding: 0.25em 0.5em;
    background-color: #3f3f3f;
    border-radius: 5px;
    border: 3px solid transparent;
    color: var(--st-nt-white);
    transition: 0.3s;
}

.st-text-input:focus {
    border-bottom: 3px solid var(--st-t-green);
    outline: none;
    background-color: var(--st-t-black);
}

.st-text-limit-input {
    padding-right: 3em;
}

.st-limit-count-box {
    background-color: var(--st-t-green);
    width: fit-content;
    border-radius: 10px;
    color: #080808;
    font-size: 0.75em;
    padding: 0.1em 0.3em;
    justify-self: end;
    margin-right: 0.25em;
    position: absolute;
    justify-self: end;
    align-self: center;
}

/***** End Input css *****/

/***** Animations *****/
.st-fadein-anim {
    animation: fadeInAnim 0.3s 1;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.st-fadeout-anim {
    animation: fadeOutAnim 0.3s 1;
    opacity: 0.5;
}

@keyframes fadeOutAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideAnim {
    0% {
        transform: translateX(70vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/***** End Animations *****/


/***** loader css *****/
.st-loading-spinner {
    border-left: 4px solid var(--st-t-green);
    border-radius: 50%;
    animation: spinner1Anim 0.5s cubic-bezier(0.75, 0.34, 1, 0.94) infinite;
}

@keyframes spinner1Anim {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.st-f-page-loading-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: var(--st-b-black);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

/***** End loader css *****/