body {
  overflow: hidden;
  position: relative;
  background-color: var(--st-t-black);
  color: var(--st-nt-white);
}

::selection {
  background-color: #4ea19db2;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: var(--st-b-black);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}