.st-contactlist-loading-box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin-bottom: 1em;
}

.st-contactlist-loading-img {
    width: 4em;
    height: 4em;
    background: #3f3f3f;
    border-radius: 50%;
    animation: beepAnim 1s infinite;
}

.st-contactlist-loading-name {
    width: 100%;
    align-self: center;

    & .line1 {
        height: 1.2em;
        width: 60%;
        border-radius: 5px;
        background: #3f3f3f;
        animation: beepAnim 1s infinite;
        margin-bottom: 0.5em;
        animation-delay: 0.1s;
    }

    & .line2 {
        height: 1em;
        width: 100%;
        border-radius: 5px;
        background: #3f3f3f;
        animation: beepAnim 1s infinite;
        animation-delay: 0.2s;
    }
}

@keyframes beepAnim {

    0%,
    100% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }
}